<div class="main-container">
    <h1 class="title">Sudoku</h1>
    <div class="difficulties">
        <div class="select-diff-wrapper">
            <p class="difficulty-title">Difficulty: </p>
    
            <select [(ngModel)]="selectedDifficulty" class="select-difficulty">
                <option *ngFor="let diff of difficulties" [value]="diff">{{ diff }}</option>
            </select>
        </div>


        <button (click)="startNewGame()" class="new-game-btn">New Game</button>
    </div>
    <div class="sudoku-board">
        <div class="row" *ngFor="let row of board; let rowIndex = index">
            <input 
            *ngFor="let cell of row; let colIndex = index" 
            class="cell" 
            [value]="cell === 0 ? '' : cell"
            [disabled]="board[rowIndex][colIndex] !== 0"
            [class.prefilled]="cell !== 0" 
            [tabindex]="cell !== 0 ? -1 : 0"
            type="text" 
            maxlength="1" 
            pattern="[1-9]"
            inputmode="numeric" 
            (keydown)="validateInput($event)"
            (input)="updateCellValue($event, rowIndex, colIndex)"
            /> 
        </div>
    </div>
    <div class="actions">
        <button class="validate-btn" (click)="handleValidate()">Validate</button>
        <button class="solve-btn" (click)="handleSolve()">Solve</button>
    </div>
    <p class="error-message">{{errorMessage}}</p>
</div>